[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/awslogs
Description=LSB: Daemon for AWSLogs agent.
Before=rescue.target
Before=multi-user.target
Before=multi-user.target
Before=multi-user.target
Before=graphical.target
Before=poweroff.target
Before=reboot.target
Before=shutdown.target
After=networking.service
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/etc/init.d/awslogs start
ExecStop=/etc/init.d/awslogs stop
